<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FingerPaintApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49ADCD601EDF6A0F004267C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49ADCD741EDF6A10004267C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49ADCD7F1EDF6A10004267C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
